.asset_steps {
    background-color: transparent;
    .stepper-nav{
        margin:0 0 0 20px !important;

        .stepper-item{
            width: 16px;
            height: 16px;
            border: 1px solid #409FFF;
            margin: 0 0.3rem !important;
        }
        .current {
            background: #409FFF;
            border-bottom: 0;
            &::after{
                display: none;
            }
        }
    }
}